.itemCardlist {
  display: flex;
  width: 100%;
  height: 60vh;
  margin-top: 1%;

}
.itemCard {
  width: 15%;
  height: 30%;
  margin-top: 1%;

  display: flex;
}

.items-managment-page {
  margin-left: 2%;
}

.add-item-card {
  width: 10%;
  height: 30%;
  margin-top: 1%;

  display: flex;

  justify-content: center;
}

.add-item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 116px;
  height: 160px;
}

.add-item-card:hover {
  background-color: #e0e0e0; /* Darker gray on hover */
}
