<div class="items-managment-page">
  <h1>Shop</h1>
  <input
    type="text"
    [formControl]="searchControl"
    placeholder="Search items..."
    class="filter-input"
  />
  <div class="itemCardlist">
    <app-item-managment-card
      class="itemCard"
      [saveItemInDB]="saveItem.bind(this)"
      [deleteItemInDB]="deleteItem.bind(this)"
      *ngFor="let item of filteredItems"
      [item]="item"
    ></app-item-managment-card>
    <ng-template #addButtonTemplate>
      <mat-card class="add-item-card">
        <button
          mat-icon-button
          class="add-item-btn"
          (click)="startAddingItem()"
        >
          <mat-icon class="addIcon">add</mat-icon>
        </button>
      </mat-card>
    </ng-template>
    <ng-template #formTemplate>
      <app-item-form-card [onSave]="addItem.bind(this)" class="add-item-card" [(isFromOpen)]="isFromOpen"></app-item-form-card>
    </ng-template>
    <ng-container
      *ngTemplateOutlet="isFromOpen === true ? formTemplate : addButtonTemplate"
    ></ng-container>
  </div>
</div>
