<mat-card class="itemFromCard" [formGroup]="itemForm">
  <mat-card-content class="cardContent">
    <div class="itemInfo">
      <input
        formControlName="name"
        [value]="item?.name ?? ''"
        placeholder="Enter name"
      />
      <input
        formControlName="price"
        [value]="item?.price ?? 0"
        type="number"
        placeholder="Enter price"
      />
    </div>
    <div class="cardActions">
      <button [disabled]="!itemForm.valid" (click)="saveItem()">Save</button>
      <button (click)="Delete()">
        {{ this.item ? "Delete" : "Cancel" }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
