.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #2289e9;
  padding: 10px;
}

.navbar button {
  color: white;
  background-color: #555;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.navbar button:hover {
  background-color: #777;
}

.navbar button.active {
  background-color: #007bff;
}

.navigation {
    display: flex;
    align-items: flex-end;
}